@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
    --brown: #AA8976;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
  }
  
body {
    background-color: #FEFBEA;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------------------- */
/* navbar */

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
} 

ul li {
    padding-right: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 0px;
    border-right-width: 3px;
    border-color: #F0E2D0
}

ul li a {
    font-size: 150%;
    text-decoration: none;
    color: #F0E2D0;
}

ul li a:hover {
    text-decoration: underline;
    color: #C6EBC9
}

.navbar {
    display: flex;
    background-color: var(--brown);
    justify-content: space-between;
    align-items: center;
}

/* ---------------------------------------------------- */
/* footer */

footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    height: 100px;
    background-color: #AA8976
}

/* footer ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

footer ul li {
    padding-right: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 0px;
    border-right-width: 3px;
    border-color: #F0E2D0
}

footer ul li a {
    font-size: 150%;
    text-decoration: none;
    color: #F0E2D0;
} */ 

/* ul li a:hover {
    text-decoration: underline;
    color: #C6EBC9
} */



#no-border {
    border-right-width: 0px !important;
}

.title {
    font-size: 150%;
    color: #AA8976;
}

.about-div {
    padding: 20px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-text {
    width: 50%;
    color: #AA8976;
}

.picture {
    width: 33%;
    height: 33%;
    padding: 10px;
    border-radius: 25px;
    border-style: dotted;
    border-color:#AA8976

}